<img src="http://api.twitter.com/1/users/profile_image?screen_name=<%= @presentation.twitter_handle %>&size=bigger" alt="some_text"/>

<h2> <%= @presentation.twitter_handle%> </h2>

<a href="https://twitter.com/<%= @presentation.twitter_handle %>" class="twitter-follow-button" data-show-count="false">Follow @<%= @presentation.twitter_handle %></a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>