<div class="row">
        <div class="span4">
		<div class="questions">
			<div class="questions-header">
	          		Heading
				<div class="questions-header-nav">
			        	<%= link_to "FAQ", '/faq' %>
				</div>
			</div>
			
			<div class="questions-screen">
				<h3> What did you think of Mobile Hackathon? </h3>
				<ul>
					<li > It was awesome </li>
					<li> It was exciting </li>
					<li> It was fun </li>
					<li> It got frustrating </li>
					<li> I'm not sure I should be in the industry </li>
				</ul>
			</div>
		</div>
        </div>

</div>