<div class="row">
	
	<% @presentation.questions.each_with_index do |question, index| %>
        <div class="span4">
		<div class="questions">
			<div class="questions-header">
	          		Question <%= index+1 %>
				<div class="questions-header-nav">
			        	<%= link_to "FAQ", '/faq' %>
				</div>
			</div>
			
			<div class="questions-screen">
				<h3> <%= question.name %> </h3>
				<ul>
					 <% question.choices.each do |a,b| %> 
						<li > <%= b %> </li>
					<% end %>
				</ul>
			</div>
		</div>
        </div>
<% end %>
<div id="dialog" title="Dialog Title">I'm in a dialog</div>


</div>

 <script>
  $(document).ready(function() {
    $("#dialog").dialog();
  });
  </script>

