<div id="question">
    <% if @question %>
        <%= render @question %>
    <% else %>
    <div id="wait">
        Wait for question to be enabled
    </div>
<% end %>
</div>

<script>
    $(function() {
        if ($("#wait").length > 0) {
            setTimeout(updatePoll, 1000);
        }
    });

    function updatePoll() {
        $.getScript("/presentations/<%= @presentation.id %>.js")
        setTimeout(updatePoll, 1000);
    }
</script>
