<% content_for :head do %>
<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
<% end %>

<div data-role="page" id="question">

    <div data-role="header" class="header" data-nobackbtn=”false”>
        <h1 class="Instapol"> <a ref ="http://www.google.com/"> <span>Instapol</span> </a> </h1> 
    </div>
    <div data-role="content">
        <div id="question_form">
            <% if @question %>
                <%= render @question %>
            <% else %>
                <div data-role="content">
                    <div id="wait">
                        <p class="type-interior">Waiting for next question.</p>
                    </div>
                </div>
            <% end %>
        </div>

    </div>

</div>

<script>
    $(function() {
        if ($("#wait").length > 0) {
            setTimeout(updatePoll, 1000);
        }
    });

    function updatePoll() {
        $.getScript("/presentations/<%= @presentation.id %>.js")
        setTimeout(updatePoll, 1000);
    }
</script>
