
<div id="footer" class="page"> <!-- Start Footer -->

	<div class="top">
		<img src="images/Instapol_header.png" alt="" />

		<div class="clear"></div>
	</div>
	
	<div class="bottom">
		<p>Copyright &copy; 2011 Instapol.com. All Rights Reserved.</p>
		<div class="clear"></div>
	</div>
	
</div> <!-- End Footer -->