<% content_for :head do %>
<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
<% end %>

<div data-role="page" id="home">
	<div data-role="header" class="header">
		<h1 class="Instapol"><span>Instapol</span></h1>
	</div>
  	<div data-role="content">	
	     <div data-role="fieldcontain">
       		<label for="name">Enter Conference Tag (please ask your presenter):</label>
       		<input type="text" name="name" id="home_form" value=""  />
     	 </div>
	<p><a id="enter_button" data-theme="a" data-icon="arrow-r" data-role="button">Enter</a></p>
	</div>	
</div>

<script>  
    jQuery(window).ready(function(){  
        initiate_geolocation();
    });  

    function initiate_geolocation() {  
        navigator.geolocation.getCurrentPosition(handle_geolocation_query);  
    }  

    function handle_geolocation_query(position){
        window.location = "<%= presentation_url(Presentation.last) %>";
    }  
</script> 
