<%= javascript_include_tag "jquery.mobile-1.0b3.js" %>
<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>


<div data-role="page" id="question">

  <div data-role="header" class="header">
    <h1 class="Instapol"> <a ref ="http://www.google.com/"> <span>Instapol</span> </a> </h1> 
  </div>
  <div data-role="content">
    <form action="#" method="get">
     
    <fieldset data-role="controlgroup">
    	<legend>Choose a pet:</legend>
         	<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
         	<label for="radio-choice-1">Cat</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
         	<label for="radio-choice-2">Dog</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
         	<label for="radio-choice-3">Hamster</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
         	<label for="radio-choice-4">Lizard</label>
    </fieldset>


  </div>     
     
    <div class="ui-body ui-body-b">
      <fieldset class="ui-grid-a">
        <a href="#thanks" data-theme="a" data-icon="arrow-r" data-role="button" data-transition="pop">Submit</a>   
      </fieldset>

  </div>

</div>

<div data-role="page" id="thanks">

	<div data-role="header" class="header" data-nobackbtn=”false” >
		<h1 class="Instapol"><span>Instapol</span></h1>
	</div>
  	<div data-role="content">	
	     <p class="type-interior">Thanks for submitting a question!</p>
	</div>
	
</div>

</body>
</html>



