
  <link rel="stylesheet" href="Instapol.css" />

  <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>


<div data-role="page" id="home">

  <div data-role="header">
    <h1 class="Instapol"><span>Instapol</span></h1>
  </div>
<select class="hide"></select>
  
    <form action="#" method="get">
     
     <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
    	<legend>Choose a pet:</legend>
         	<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
         	<label for="radio-choice-1">Cat</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
         	<label for="radio-choice-2">Dog</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
         	<label for="radio-choice-3">Hamster</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
         	<label for="radio-choice-4">Lizard</label>
    </fieldset>
</div>


     
     
    <div class="ui-body ui-body-b">
      <fieldset class="ui-grid-a">
        <button type="submit" data-theme="a" data-transition="pop">Order Ice Cream</button>     
      </fieldset>
    </div>
     
  </div>

</div>

