<form name="input" action="mailto: Ozzie_Gooen@hmc.edu" method="get">
Username: <input type="text" name="user" />
Email Address: <input type="text" name="email" />
Important Comment: <textarea cols="40" rows="5" name="comment">
Now we are inside the area - which is nice.
</textarea>

<input type="submit" value="Submit" />
</form>