<%= javascript_include_tag "jquery-1.4.2.min.js" %> 
<%= javascript_include_tag "jqtouch.js", "jqt.location.js", "home.js" %> 


       	<div id="jqt">
	          <div id="getlocation">
	              <div class="toolbar">
	                  <h1>Instapol.com</h1>
	              </div>

	<form>
	                  <ul class="edit rounded">
	                      <li><input type="text" name="name" placeholder="Enter the Conference Tag" id="home_form" /></li>

	<li><a target href="#" rel="external" id="enter_button">Enter</a></li>
	              </ul>

                  
	              <div class="info"></div>
	          </div>
	      </div>
