<div id="top_bar"></div>
<div id="top_content_wrap"> <!-- Start App Description -->
    <div id="top_content" class="page">
        <div id="app_screenshot"> <!-- Start App Screencast -->
            <div class="screencast">
                <img style="WIDTH: 192px" src="images/instapol_mockup.png" alt="" />
            </div>
        </div> <!-- End App Screencast -->

        <div id="app_description"> <!-- Start App Description -->
            <div class="header">
                <h1>Instapol</h1>
                <div class="clear"></div>
            </div>
            <p>Supercharge your presentations by leveraging your audiences'
            smartphones. The application has just won first place at 
            <a href="http://losangeles.mobilehackdays.com/" 
              style="color:#fff;">MobileHackDays</a> 
            and will be debuting shortly. </p>
            <ul>
                <li>Instantly discover what your audience is thinking.</li>
                <li>Be remembered. Send extra material and allow
                your audience to connect with you.</li>
                <li>Get comprehensive analytics about your presentations.</li>
            </ul>

            <div class="actions">
              <%= content_tag(:h4, "AVAILABLE SOON", :id=>"begin-link",
              :style=>"font-size:2em; color: #777;")  %>
                <p>
                <b>Requirements:</b>
                Compatible with any mobile device with an internet connection.
                Requires WiFi, Edge, or 3G network connection to answer questions.
                </p>
                <div class="clear"></div>
            </div>
        </div> <!-- End App Description -->
        <div class="clear"></div>
    </div>
</div>



