<%= javascript_include_tag "jqtouch.js", "jqt.location.js", "home.js" %> 

<div data-role="page" id="home">
	<div data-role="header" class="header">
		<h1 class="Instapol"><span>Instapol</span></h1>
	</div>
  	<div data-role="content">	
	     <div data-role="fieldcontain">
       		<label for="name">Enter Conference Tag (please ask your presenter):</label>
       		<input type="text" name="name" id="home_form" value=""  />
     	 </div>
	<p><a id="enter_button" data-theme="a" data-icon="arrow-r" data-role="button">Enter</a></p>
	</div>	
</div>
