
	<div id="top_bar"></div>
		
	<div id="top_content_wrap"> <!-- Start App Description -->
		<div id="top_content" class="page">
			<div id="app_screenshot"> <!-- Start App Screencast -->
				<div class="screencast">
						<img style="WIDTH: 192px" src="images/instapol_mockup.png" alt="" />
				</div>
			</div> <!-- End App Screencast -->
		
			<div id="app_description"> <!-- Start App Description -->
				<div class="header">
					<h1>Instapol</h1>
					<div class="clear"></div>
				</div>
				<p>Instapol lets you create instant polls for your audience to answer on their smartphones. The application has just won first place at <a href="http://losangeles.mobilehackdays.com/">MobileHackDays</a> and will be debuting shortly. </p>
				<ul>
					<li>Instant poll results for presentations</li>
					<li>Great audience engagement with mobile-optimized voting webpages</li>
					<li>Free and incredibly simple to use</li>
				</ul>
			
				<div class="actions">
                    			.<h4><%= link_to "TRY IT FREE", new_presentation_path, :id=>"begin-link"  %></h4>
					<p>
						<b>Requirements:</b>
						Compatible with any mobile device with an internet connection.
						Requires WiFi, Edge, or 3G network connection to answer questions.
					</p>
					<div class="clear"></div>
				</div>
			</div> <!-- End App Description -->
			<div class="clear"></div>
		</div>
	</div>
	
	
	
